.wrapper {
    max-width: 46rem;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin-top: -1.75rem;
}

/* TODO: REVER RESPONSIVO */

@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
} 